@*
@{ 
    IEnumerable<BAL.Dtos.ExhibitionAccountDt.GetAllExhibitionAccount> getAllExhibitionAccounts = ViewBag.Account;
}*@


<section class="flat-row section-product bg-theme">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section text-center">
                    <h1 class="title">بهترین اموزشکده سال در تهران</h1>
                    <div class="sub-title">
                        جهت ثبت نام اقدام کنید
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrap-flat-product clearfix">


                <div class="load-more text-center">
                    <button type="button" class="flat-button">بارگذاری اطلاعات</button>
                </div>
            </div>
        </div>

    </div>
</section>