

<!DOCTYPE html>










<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>ListAny Template</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="/Ui/stylesheets/bootstrap.css">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="/Ui/stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="/Ui/stylesheets/responsive.css">

    <link rel="stylesheet" type="text/css" href="/Ui/stylesheets/bootstrap-datetimepicker.min.css">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="/Ui/stylesheets/animate.css">
    <link rel="stylesheet" href="https://cdn.map.ir/web-sdk/1.4.2/css/mapp.min.css">
    <link rel="stylesheet" href="https://cdn.map.ir/web-sdk/1.4.2/css/fa/style.css">
    <link rel="stylesheet" href="/Map.ir/dist/css/mapp.min.css">
    <link rel="stylesheet" href="/Map.ir/dist/css/fa/style.css">
    <!-- Favicon and touch icons  -->
    <link href="icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon-precomposed" sizes="48x48">
    <link href="icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="icon/favicon.png" rel="shortcut icon">

</head>
<body class="header_sticky">
    <!-- Preloader -->
    <section class="loading-overlay">
        <div class="Loading-Page">
            <h2 class="loader">Loading</h2>
        </div>
    </section>

    <!-- Boxed -->
    <div class="boxed">

        <!-- Header -->
        @Html.Partial("_Header")

        <!-- Page title -->
        <div class="page-title style2">
            <div class="flat-maps">
                <div class="form-control" id="app" style="width: 100%; height: 268px; "></div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrap-pagetitle">
                            <div class="flat-pagetitle">
                                <div class="page-title-heading">
                                    <h1 class="title">دوره اموزش زبان</h1>
                                </div><!-- /.page-title-captions -->
                                <div class="breadcrumbs style2">
                                    <ul>
                                        <li><i class="ion-ios-location-outline"></i>برونکس / شهر نیویورک</li>
                                    </ul>
                                </div><!-- /.breadcrumbs -->
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.page-title -->
        <!-- Blog posts -->
        <section class="main-content page-listing">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="listing-wrap">
                            <div class="tf-gallery">
                                <div id="tf-slider">
                                    <ul class="slides">

                                        <li>
                                            <img src="/Ui/images/services/AHYE06_master.jpg" alt="image" style="width:870px;height:400px">
                                        </li>


                                    </ul>
                                </div>

                                <div id="tf-carousel">
                                    <ul class="slides">

                                        <li>
                                            <img src="/Ui/images/services/AHYE06_master.jpg" alt="image" style="width:110px;height:111px">
                                        </li>


                                    </ul>
                                </div>
                            </div><!-- /.tf-gallery -->
                            <div class="content-listing">
                                <div class="text">
                                    <h3 class="title-listing">دوره اموزش زبان</h3>
                                    <p>دسته بندی :</p>
                                </div>
                                <h3 class="title-listing">قیمت دوره</h3>
                                <div class="list-tab">
                                    <h3 class="title-listing">فهرست ما</h3>
                                    <div class="flat-tabs" data-effect="fadeIn">
                                        <ul class="menu-tab clearfix">
                                            <li class="active"><a href="#">مشخصات تکمیلی دوره</a></li>
                                            <li class=""><a href="#">نحوه ثبت نام</a></li>

                                        </ul><!-- /.menu-tab -->
                                        <div class="content-tab">
                                            <div class="content-inner active">
                                                <div class="menu-food clearfix">
                                                    <div class="featured-food float-left">
                                                        <span class="effect"><img src="/Ui/images/services/AHYE06_master.jpg" alt=""></span>
                                                    </div>
                                                    <div class="content-food float-left">
                                                        <h5><a href="#">تایپ دوره</a></h5>
                                                        <p>تست </p>
                                                    </div>

                                                </div>


                                            </div>
                                            <div class="content-inner">
                                                <div class="menu-food clearfix">
                                                    <div class="featured-food float-left">
                                                        <span class="effect"><img src="/Ui/images/services/AHYE06_master.jpg" alt=""></span>
                                                    </div>
                                                    <div class="content-food float-left">
                                                        <h5><a href="#">شماره تماس جهت کسب اطلاعات</a></h5>
                                                        <p>09371374752</p>
                                                    </div>

                                                </div>
                                                <div class="menu-food clearfix">
                                                    <div class="featured-food float-left">
                                                        <span class="effect"><img src="/Ui/images/services/AHYE06_master.jpg" alt=""></span>
                                                    </div>
                                                    <div class="content-food float-left">
                                                        <h5><a href="#">توضیحات</a></h5>
                                                        <p>تست</p>
                                                    </div>

                                                </div>
                                                <div class="menu-food clearfix">
                                                    <div class="featured-food float-left">
                                                        <span class="effect"><img src="/Ui/images/services/AHYE06_master.jpg" alt=""></span>
                                                    </div>
                                                    <div class="content-food float-left">
                                                        <h5><a href="#">ادرس</a></h5>
                                                        <p>تست</p>
                                                    </div>

                                                </div>
                                                <div class="menu-food clearfix">
                                                    <div class="featured-food float-left">
                                                        <span class="effect"><img src="/Ui/images/services/AHYE06_master.jpg" alt=""></span>
                                                    </div>
                                                    <div class="content-food float-left">
                                                        <h5><a href="#">شرایط دوره</a></h5>
                                                        <p>حضوری</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div><!-- /.content-tab -->
                                    </div>
                                </div>
                                <div class="list-comment">
                                    <h3 class="title-listing">2 نظر</h3>
                                    <div class="comments-area">
                                        <ol class="comment-list">
                                            <li class="comment">
                                                <article class="comment-body clearfix">
                                                    <div class="comment-author">
                                                        <img src="/Ui/images/services/c1.png" alt="image">
                                                    </div><!-- .comment-author -->
                                                    <div class="comment-text">
                                                        <div class="comment-metadata">
                                                            <h5><a href="#">مدیر</a></h5>
                                                            <p class="day">12/01/2017</p> <div class="flat-start">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-half-o"></i>
                                                            </div>
                                                        </div><!-- .comment-metadata -->
                                                        <div class="comment-content">
                                                            <p>تست</p>
                                                        </div><!-- .comment-content -->
                                                    </div><!-- /.comment-text -->
                                                </article><!-- .comment-body -->
                                            </li><!-- #comment-## -->
                                            <li class="comment">
                                                <article class="comment-body clearfix">
                                                    <div class="comment-author">
                                                        <img src="/Ui/images/services/AHYE06_master.jpg" alt="image">
                                                    </div><!-- .comment-author -->
                                                    <div class="comment-text">
                                                        <div class="comment-metadata">
                                                            <h5><a href="#">مدیر</a></h5>
                                                            <p class="day">12/01/2017</p> <div class="flat-start">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-half-o"></i>
                                                            </div>
                                                        </div><!-- .comment-metadata -->
                                                        <div class="comment-content">
                                                            <p>تست</p>
                                                        </div><!-- .comment-content -->
                                                    </div><!-- /.comment-text -->
                                                </article><!-- .comment-body -->
                                            </li><!-- #comment-## -->
                                            <li class="comment">
                                                <article class="comment-body clearfix">
                                                    <div class="comment-author">
                                                        <img src="/Ui/images/services/AHYE06_master.jpg" alt="image">
                                                    </div><!-- .comment-author -->
                                                    <div class="comment-text">
                                                        <div class="comment-metadata">
                                                            <h5><a href="#">مدیر</a></h5>
                                                            <p class="day">12/01/2017</p> <div class="flat-start">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-half-o"></i>
                                                            </div>
                                                        </div><!-- .comment-metadata -->
                                                        <div class="comment-content">
                                                            <p>تست</p>
                                                        </div><!-- .comment-content -->
                                                    </div><!-- /.comment-text -->
                                                </article><!-- .comment-body -->
                                            </li><!-- #comment-## -->
                                        </ol><!-- .comment-list -->

                                        <div class="comment-respond" id="respond">
                                            <h3 class="title-listing">افزودن نظر</h3>
                                            <form novalidate="" class="comment-form clearfix" id="commentform" method="post" action="#">
                                                <div class="wrap-input clearfix">
                                                    <p class="comment-notes">
                                                        <input type="email" placeholder="ایمیل شما" size="30" value="" name="email">
                                                    </p>
                                                    <p class="comment-form-email">
                                                        <input type="text" placeholder="نام شما*" aria-required="true" name="title">

                                                    </p>
                                                </div>
                                                <p class="comment-form-comment">
                                                    <textarea class="" tabindex="4" placeholder="نظر شما" name="comment" required></textarea>
                                                </p>
                                                <div class="start-review">
                                                    <span class="flat-start">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                    </span>
                                                    <span> ( امتیاز شما )</span>
                                                </div>
                                                <p class="form-submit">
                                                    <button class="comment-submit effect-button">ارسال نظر</button>
                                                </p>
                                            </form>
                                        </div><!-- /.comment-respond -->
                                    </div><!-- /.comments-area -->
                                </div>

                            </div>
                        </div><!-- /.listing-wrap -->
                    </div><!-- /.col-lg-9 -->
                    <div class="col-lg-3">
                        <div class="sidebar">
                            <div class="widget widget_listing">
                                <h5 class="widget-title">دوره های محبوب</h5>
                                <ul>
                                    <li>
                                        <div class="featured">
                                            <a href="#" class="effect"><img src="/Ui/images/services/AHYE06_master.jpg" alt="image"></a>
                                        </div>
                                        <div class="info-listing">
                                            <h6><a href="#">تست</a></h6>
                                            <div class="start-review">
                                                <span class="flat-start">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <a href="#" class="review">12 نظر</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="featured">
                                            <a href="#" class="effect"><img src="/Ui/images/services/AHYE06_master.jpg" alt="image"></a>
                                        </div>
                                        <div class="info-listing">
                                            <h6><a href="#">تست</a></h6>
                                            <div class="start-review">
                                                <span class="flat-start">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <a href="#" class="review">7 نظر</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="featured">
                                            <a href="#" class="effect"><img src="/Ui/images/services/AHYE06_master.jpg" alt="image"></a>
                                        </div>
                                        <div class="info-listing">
                                            <h6><a href="#">تست</a></h6>
                                            <div class="start-review">
                                                <span class="flat-start">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <a href="#" class="review">7 نظر</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="featured">
                                            <a href="#" class="effect"><img src="/Ui/images/services/AHYE06_master.jpg" alt="image"></a>
                                        </div>
                                        <div class="info-listing">
                                            <h6><a href="#">تست </a></h6>
                                            <div class="start-review">
                                                <span class="flat-start">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <a href="#" class="review">7 نظر</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class=" widget widget-form">
                                <form novalidate="" class="book-form clearfix" id="bookform" method="post" action="#">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <p class="book-notes">
                                        <input type="text" placeholder="نام شما*" name="author" required="">
                                    </p>
                                    <p class="book-form-email">
                                        <input type="email" placeholder="ایمیل" name="email" required="">
                                    </p>
                                    <p class="book-form-email">
                                        <input type="email" placeholder="تلفن" name="phone" required="">
                                    </p>
                                    <p class="book-form-book">
                                        <textarea class="" tabindex="4" placeholder="پیام" name="book" required=""></textarea>
                                    </p>
                                    <p class="form-submit text-center">
                                        <button class="book-submit effect-button">رزرو الان</button>
                                    </p>
                                </form>
                            </div>
                            <div class="widget widget-contact">
                                <h5 class="widget-title">تماس با ما</h5>
                                <ul>
                                    <li class="adress">ایران -همدان</li>
                                    <li class="phone">+61 3 8376 6284</li>
                                    <li class="email">Yourplace@gmail.com</li>
                                    <li class="time">
                                        <span>دوشنبه-سه شنبه:</span> 8:00 am - 10:00 pm<br>
                                        <span>جمعه - شنبه:</span> 10:00 am - 1:00 am<br>
                                        <span>یکشنبه: </span> 10:00 am - 10:00 pm
                                    </li>
                                </ul>
                                <div class="social-links">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div><!-- /.sidebar -->
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>


        <section class="flat-row v1 bg-theme">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="title-section">
                            <h1 class="title">خبرنامه</h1>
                            <div class="sub-title">
                                تست
                            </div>
                        </div>
                        <form id="subscribe-form" class="flat-mailchimp" method="post" action="#" data-mailchimp="true">
                            <div class="field clearfix" id="subscribe-content">
                                <p class="wrap-input-email">
                                    <input type="text" tabindex="2" id="subscribe-email" name="subscribe-email" placeholder="آدرس ایمیل شما">
                                </p>
                                <p class="wrap-btn">
                                    <button type="button" id="subscribe-button" class=" subscribe-submit effect-button" title="Subscribe now">اشتراک</button>
                                </p>
                            </div>
                            <div id="subscribe-msg"></div>
                        </form>
                    </div>
                    <div class="col-lg-2">
                        <div class="flat-counter text-center">
                            <div class="content-counter">
                                <div class="icon-count">
                                    <i class="ion-waterdrop"></i>
                                </div>
                                <div class="name-count">دوره</div>
                                <div class="numb-count" data-to="10" data-speed="2000" data-waypoint-active="yes">1</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="flat-counter text-center">
                            <div class="content-counter">
                                <div class="icon-count">
                                    <i class="ion-pricetags"></i>
                                </div>
                                <div class="name-count">دسته بندی ها</div>
                                <div class="numb-count" data-to="1" data-speed="2000" data-waypoint-active="yes">1</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="flat-counter text-center">
                            <div class="content-counter">
                                <div class="icon-count">
                                    <i class="ion-ios-people"></i>
                                </div>
                                <div class="name-count">کاربران</div>
                                <div class="numb-count" data-to="5" data-speed="2000" data-waypoint-active="yes">5</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="footer footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget widget_text widget_info">
                            <h5 class="widget-title">درباره ما</h5>
                            <div class="textwidget">
                                <p>ملت وب ایپسوم متن ساختگی با تولید سادگی ملت وب از صنعت چاپ و با ملت وب از ملت وب گرافیک است</p>
                            </div><!-- /.textwidget -->
                            <ul class="flat-infomation">
                                <li><i class="fa fa-map-marker"></i>ایران - تبریز خیابان اصلی کوچه123</li>
                                <li><i class="fa fa-phone"></i>+61 3 8376 6284</li>
                            </ul>
                        </div><!-- /.widget -->
                    </div><!-- /.col-lg-3 -->

                    <div class="col-lg-3">
                        <div id="nav_menu-2" class="widget widget_nav_menu">
                            <h5 class="widget-title">حریم خصوصی</h5>
                            <div class="wrap-menufooter clearfix">
                                <ul class="menu one-half">
                                    <li class="menu-item"><a href="#">درباره ما</a></li>
                                    <li class="menu-item"><a href="#">تبلیغات</a></li>
                                    <li class="menu-item"><a href="#">قوانین و مقررات</a></li>
                                    <li class="menu-item"><a href="#">حریم خصوصی</a></li>
                                    <li class="menu-item"><a href="#">سوالات متداول</a></li>
                                    <li class="menu-item"><a href="#">رویدادها</a></li>
                                </ul>
                                <ul class="menu one-half">
                                    <li class="menu-item"><a href="#">روش های پرداخت</a></li>
                                    <li class="menu-item"><a href="#">نگهداری</a></li>
                                    <li class="menu-item"><a href="#">مشتری شرکت</a></li>
                                    <li class="menu-item"><a href="#">آموزشات</a></li>
                                    <li class="menu-item"><a href="#">وضعیت انتشار</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.col-lg-3 -->

                    <div class="col-lg-3">
                        <div class="widget widget_listing">
                            <h5 class="widget-title">آگهی های محبوب</h5>
                            <ul>
                                <li class="clearfix">
                                    <div class="featured">
                                        <a href="#" class="effect"><img src="/Ui/images/flickr/7.jpg" alt="image"></a>
                                    </div>
                                    <div class="info-listing">
                                        <h6><a href="#">استیک میدان لینکلن</a></h6>
                                        <div class="start-review">
                                            <span class="flat-start">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            <a href="#" class="review">12 نظر</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="featured">
                                        <a href="#" class="effect"><img src="/Ui/images/flickr/8.jpg" alt="image"></a>
                                    </div>
                                    <div class="info-listing">
                                        <h6><a href="#">10 رستوران برتر </a></h6>
                                        <div class="start-review">
                                            <span class="flat-start">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            <a href="#" class="review">7 نظر</a>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div><!-- /.col-lg-3 -->

                    <div class="col-lg-3">
                        <div class="widget widget_contact">
                            <h5 class="widget-title">تماس سریع</h5>
                            <ul class="clearfix">
                                <li>
                                    <div class="thumb">
                                        <a href="#" class="effect">
                                            <img src="/Ui/images/flickr/1.jpg" alt="image">
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#" class="effect">
                                            <img src="/Ui/images/flickr/2.jpg" alt="image">
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#" class="effect">
                                            <img src="/Ui/images/flickr/3.jpg" alt="image">
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#" class="effect">
                                            <img src="/Ui/images/flickr/4.jpg" alt="image">
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#" class="effect">
                                            <img src="/Ui/images/flickr/5.jpg" alt="image">
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#" class="effect">
                                            <img src="/Ui/images/flickr/6.jpg" alt="image">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
            <div class="container">
                <div class="bottom">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="copyright">
                                <p>
                                    ترجمه و راست چینی توسط <a href="https://www.mellatweb.com/">ملت وب</a>. همه حقوق محفوظ است.
                                </p>
                            </div>
                        </div><!-- /.col-md-12 -->
                        <div class="col-md-6 col-sm-6">
                            <div class="social-links float-right">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        @Html.Partial("_LoginModal")
        @Html.Partial("_VerifactionCodeModal")

        <!-- Go Top -->
        <a class="go-top effect-button">
            <i class="fa fa-angle-up"></i>
        </a>

    </div>
    <!-- /Ui/javascript -->
    <script src="/Ui/javascript/jquery.min.js"></script>
    <script src="/Ui/javascript/tether.min.js"></script>
    <script src="/Ui/javascript/bootstrap.min.js"></script>
    <script src="/Ui/javascript/jquery.easing.js"></script>
    <script src="/Ui/javascript/jquery-waypoints.js"></script>
    <script src="/Ui/javascript/jquery-countTo.js"></script>
    <script src="/Ui/javascript/gmap3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUIc2-TTbn2IGJ4W0_0ePkv3xBvA_2sCM&region=GB"></script>
    <script src="/Ui/javascript/jquery.cookie.js"></script>
    <script src="/Ui/javascript/bootstrap-datetimepicker.js"></script>
    <script src="/Ui/javascript/bootstrap-datetimepicker.fr.js"></script>
    <script src="/Ui/javascript/jquery.flexslider-min.js"></script>

    <script src="/Ui/javascript/parallax.js"></script>
    <script src="/Ui/javascript/smoothscroll.js"></script>
    <script type="text/javascript" src="/Map.ir/dist/js/mapp.env.js"></script>
    <script type="text/javascript" src="/Map.ir/dist/js/mapp.min.js"></script>
    <script src="/Ui/javascript/main.js"></script>


</body>
</html>